.vscode/**
.vscode-test/**
*.vsix
out/test/**
test/**
src/**
scripts/**
!scripts/extractPdfText.js
out/src/test/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules/pdfjs-dist/build/**
node_modules/pdfjs-dist/cmaps/**
node_modules/pdfjs-dist/image_decoders/**
node_modules/pdfjs-dist/lib/**
node_modules/pdfjs-dist/standard_fonts/**
node_modules/pdfjs-dist/types/**
node_modules/pdfjs-dist/web/**
node_modules/pdfjs-dist/legacy/build/*.map
node_modules/pdfjs-dist/legacy/build/pdf.min.js
node_modules/pdfjs-dist/legacy/build/pdf.sandbox*
node_modules/pdfjs-dist/legacy/build/pdf.worker.entry.js
node_modules/pdfjs-dist/legacy/build/pdf.worker.min.js
node_modules/pdfjs-dist/legacy/build/*.d.ts
node_modules/pdfjs-dist/legacy/image_decoders/**
node_modules/pdfjs-dist/legacy/web/**
node_modules/pdfjs-dist/*.md
node_modules/pdfjs-dist/bower.json
node_modules/sql.js/dist/*debug*
node_modules/sql.js/dist/sql-asm*
node_modules/sql.js/dist/worker.sql-asm*
node_modules/sql.js/dist/*browser*
node_modules/sql.js/dist/worker.*
node_modules/sql.js/.devcontainer/**
node_modules/sql.js/*.md
node_modules/sql.js/*.svg
node_modules/katex/src/**
node_modules/katex/types/**
node_modules/katex/contrib/**
node_modules/katex/node_modules/**
node_modules/katex/dist/*.mjs
node_modules/katex/dist/*.map
node_modules/katex/dist/contrib/**
node_modules/katex/dist/docs/**
node_modules/katex/dist/katex.mjs
node_modules/katex/dist/katex.min.js.map
node_modules/web-streams-polyfill/dist/*.map
node_modules/web-streams-polyfill/dist/*.mjs
node_modules/web-streams-polyfill/dist/polyfill*
node_modules/web-streams-polyfill/dist/ponyfill.es6*
node_modules/web-streams-polyfill/dist/ponyfill.es2018*
node_modules/web-streams-polyfill/dist/types/**
node_modules/web-streams-polyfill/ponyfill/**
node_modules/dommatrix/dist/*.esm*
node_modules/dommatrix/dist/*.min.js
node_modules/dommatrix/src/**
node_modules/dommatrix/types/**
node_modules/dommatrix/*.md
node_modules/katex/*.md
node_modules/katex/katex.ts
